#gameBoard {
    border: 5px solid rgb(255, 166, 0);
    max-width: 40%;
    min-height: 200px;
    border-radius: 5px;
}

#gameBox, #gameBox0, #gameBox1, #gameBox2, #gameBox3, #gameBox4, 
#gameBox5, #gameBox6, #gameBox7, #gameBox8 {
    color: rgb(121, 119, 117);
    min-height: 125px;
    border: 1px solid rgb(167, 159, 159);
    text-align: center;
    vertical-align: middle;
    line-height: 125px; 
    font-size: 50px;
}


#mouseOverGameBox, #mouseOverGameBox0, #mouseOverGameBox1, #mouseOverGameBox2,
#mouseOverGameBox3, #mouseOverGameBox4, #mouseOverGameBox5, #mouseOverGameBox6, 
#mouseOverGameBox7, #mouseOverGameBox8 {
    color: rgb(121, 119, 117);
    background-color: rgb(243, 221, 180);
    min-height: 125px;
    border: 1px solid rgb(116, 116, 116);
    text-align: center;
    vertical-align: middle;
    line-height: 125px;
    font-size: 50px;
}

#buttonBoxes {
    display: flex;
    margin-left: 580px;
}

#buttonBox1 {
    max-width: 40%;
    min-height: 50px;
    border-radius: 5px;
    margin-top: 550px;
}

#buttonBox2 {
    max-width: 40%;
    min-height: 50px;
    border-radius: 5px;
    margin-top: 550px;
    margin-left: 175px;
}